*{
    margin: 0;
    padding: 0;
}
canvas{
    margin: 0 auto;
    display: block;
}
li{
    list-style: none;
    margin: 2px 0px;
}
a{
    margin: 0px 5px;
    cursor: pointer;
}
.fgo{
    margin: 0 auto;
    width: 1075px;
    height: 230px;
    position: relative;
}
.fgo-top{
    position: absolute;
    width: 1075px;
    height: 230px;
}
.text-nick{
    position: absolute;
    top: 7.5px;
    left: 210px;
    width: 233px;
    text-align: center;
    color: #fff;
    font-size: 22px;
}
.text-uid{
    position: absolute;
    top: 7.5px;
    left: 649px;
    width: 207px;
    text-align: center;
    color: #fff;
    font-size: 22px;
}
.fgo-img{
    position: absolute;
    height: 140px;
    width: 84%;
    top: 47px;
    left: 4px;
    border-radius: 8px;
}
.fgo-img-in{
    position: relative;
    height: 140px;
    width: 96px;
    margin-right: 4px;
    float: left;
    border-radius: 8px;
    background-size: cover !important;
    background-position: center center !important;
}
.fgo-img1{
    position: absolute;
    height: 230px;
    width: 19.1%;
    top: -47px;
    left: 899px;
}
.setting{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul p{
    display: inline-block;
    width: 80px;
}
.skill{
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 123px;
    z-index: 1;
    left: 11px;
}
.icon{
    position: absolute;
    top: 1px;
    z-index: 1;
    left: -1px;
}
.level{
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 117px;
    z-index: 1;
    left: 30px;
}
.text{
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 117px;
    z-index: 1;
    left: 81px;}

.tip{
    text-align: center;
    margin-top: 10px;
}